<div class="row mt-5">
    <div class="col">
        <div class="form-group">
            <label>Post Title</label>
            <input type="text" class="form-control"
            id="title" placeholder="Post Title" name="title"
            [(ngModel)]="title">
        </div>
        <div class="form-group">
            <label>Post Content</label>
            <div class="NgxEditor__Wrapper">
                <angular-editor [config]="config" [placeholder]="'Enter text here...'" [(ngModel)]="content"></angular-editor>
        </div>
        <div class="form-group float-right">
            <button class="btn btn-warning round mt-3"
            (click)="createPost()">Submit</button>
        </div>
    </div>
</div>
